*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid blue;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: circle 2.5s ease-in-out infinite;
}

@keyframes circle{
    0% {
        border-color: blue;
        transform: scale(1);
    }

    25% {
        border-color: green;
        transform: scale(0.8);
    }

    50% {
        border-color: purple;
        transform: scale(1.15);
    }

    75% {
        border-color: yellow;
        transform: scale(0.7);
    }

    100% {
        border-color: blue;
        transform: scale(1);
    }
}


@media screen and (max-width: 414px){
    .circle{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 10px solid blue;
        margin: auto;
        position: absolute;
        top: 40%;
        left: 32%;
        transform: translate(-50%, -50%);
        animation: circle 2.5s ease-in-out infinite;
    }
}